.container {
    position: relative; // för att kunna använda element i containern och styra dit man vill ha dom. 
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;  
    margin-right: auto;

    @include tablet {
        max-width: 720px;
    }

    @include desktop {
        max-width: 1320px;
    }
}