// använd wrapper för att kunna justera hur standardlayouten ska se ut. 
@import "../mixins/_mixins-media.scss";

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;

    @include desktop{
        grid-template-rows: auto auto 1fr auto;
    }
}