@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// css regeln tillämpar smidig scrollning på hela sidan, men bara om användaren inte har valt att minimera rörelser i sina egna inställningar.
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}



*, *::before, *::after {    // formaterar alla objekt som finns 
    box-sizing: border-box; // gör att padding och border inkluderas i elements totala storlek, undviker därmed problem att saker och ting blir större än förväntat.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //tar bort standardmarkeringsfärgen som visas när en användare trycker på ett element på en touch enhet. 
}

//lägg till det du vill ha med själv här för att stänga av 
html, body, section, div, header, footer, main, aside, nav, blockquote {
    margin: 0;
    padding: 0;
}

img, svg {
    vertical-align: middle; //utgår från mitten när du kalkylerar vart bilder ska placeras på sidan.
    // kontrollerarr hur ett element placeras vertikalt i förhållande till dess omgivande inline-element. oftast för att justera positionen i en textrad. mer balanserat och estetiskt tilltalande layout.
}

body{
    @include text;
    font-size: 16px;
    color: #535656; //hårdkodad färg för att sätta en grundfärg om det är så att den inte kan läsa tema färgen som vi satt.
}