.projects {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .container {
        display: flex;
        justify-content: space-between;

        .project-list {
            border-right: 2px solid #ECECEC;
            padding-right: 2rem;

            .content {
                display: grid;

                .read-more {
                    display: flex;
                    width: 100%;
                    padding: 2rem 0;
                    border-bottom: 2px solid #ECECEC;

                    img {
                        width: 370px;
                        height: 200px;
                        object-fit: cover;
                        object-position: 50% 20%;
                    }

                    .info {
                        display: grid;
                        margin-left: 2rem;

                        i {
                            color: #9C9EA6;
                            margin-right: 8px;
                        }

                        span {
                            color: #9C9EA6;
                            font-size: 14px;
                            font-weight: 400;
                        }

                        a {
                            font-weight: 600;
                            margin-top: 1.5rem;

                            i {
                                margin-left: 8px;
                            }
                        }
                    }
                }

                .read-more:last-of-type {
                    border-bottom: none;
                }

                .pagination {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    gap: 1rem;
                    margin-top: 3rem;

                    .previous-page {
                        color: #EAEAEA;
                        font-weight: 600;
                    }

                    em {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-weight: 600;
                        font-style: normal;
                        border: 1px solid #EAEAEA;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                    }

                    a {
                        font-weight: 600;
                    }
                }
            }
        }

        .tags {
            padding-left: 2rem;
            padding-top: 2rem;
            width: 45%;

            .tag-btns {
                .btn-tags {
                    margin: 10px 8px 10px 0;
                }
            }

            form {
                position: relative;
                background-color: var(--color-primary);
                border-radius: 4px;
                padding: 2rem;
                margin-top: 3rem;
                width: 100%;

                h4 {
                    color: var(--color-accent);
                    font-weight: 600;
                }

                p {
                    width: 85%;
                    color: #ffffff;
                }

                i {
                    position: absolute;
                    right: 15%;
                    bottom: 22%;
                    font-size: 22px;
                    color: var(--color-primary);
                }

                input {
                    color: #9C9EA6;
                    font-size: 13px;
                }

                .icon-submit {
                    background: none;
                    border: none;
                    padding: 0;
                    cursor: pointer;

                    i {
                        position: absolute;
                        right: 15%;
                        bottom: 21%;
                        font-size: 22px;
                        color: var(--color-primary);
                    }
                }

                .form-invalid-input {
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 5px;
                    margin-left: 5px;
                }
            }


            .success-message {
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 3rem;
                font-size: 1em;
                font-weight: 500;
                background-color: var(--color-primary);
                border-radius: 4px;
                padding: 2rem;
                color: #FFFFFF;
                width: 100%;

                i {
                    text-align: center;
                    font-size: 3rem;
                    padding: 1rem;
                    color: var(--color-gray);
                }
            }
        }
    }
}
