@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var ceoImage = Model?.Value<IPublishedContent>("aboutCeoImage")?.Url() ?? "";

    var ratingImage = Model?.Value<IPublishedContent>("reviewsReviewImg")?.Url() ?? "";
    var reviewSectionImg = Model?.Value<IPublishedContent>("reviewSectionImg")?.Url() ?? "";
}

@if (!string.IsNullOrEmpty(ViewBag.Title)) {
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<div class="ceo-founder">
    <div class="container">
        <div class="content">
            <img src="@ceoImage" alt="@Model?.Value("aboutCeoImageText")">
            <p>@Model?.Value("aboutCeoImageText")</p>
        </div>
        <div class="content-info">
            <blockquote>@Model?.Value("aboutQuote")</blockquote>
            	<p>@Model?.Value("aboutPageContent")</p>
        </div>
    </div>
</div>

<div class="review">
    <div class="container">
        <div class="content">
            <span>@Model?.Value("reviewsSectionTitle")</span>
            <h2>@Model?.Value("reviewsSectionHeadline")</h2>
            <blockquote>@Model?.Value("reviewsContentText")</blockquote>
            <img src="@ratingImage" alt="">
            <p class="signature">@Model?.Value("reviewPartnerName")</p>
            <p class="company">@Model?.Value("reviewPartnerCompanyName")</p>
        </div>
        <div class="aside">
            <img src="@reviewSectionImg" alt="@Model?.Value("reviewsPartnerName")">
        </div>   
    </div> 
</div>

<div class="our-experts">
    <div class="container">
        <div class="headline">
            <span>@Model?.Value("ourExpertsSectionTitle")</span>
            <h2>@Model?.Value("ourExpertsSectionHeadline")</h2>
        </div>
       @await Html.PartialAsync("blockgrid/components/ourExpertsImageSlider")
    </div>
</div>
@await Html.PartialAsync("static/contactInformation")