@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var contentImg = Model?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
}

@if (!string.IsNullOrEmpty(ViewBag.Title)) {
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<div class="services-details">
    <div class="container">
        <aside class="support">
            <div class="content">
                <h4>About us</h4>
                <img src="@contentImg" alt="@Model?.Value("pageTitle")">
                <p>@Model?.Value("thumbnailText")</p>
            </div>
                <form method="post">
                    <h4>How can we help you?</h4>
                    <p>online support 24/7, we are here to help you</p>

                    <div id="form-email" class="input-group">
                        <label for="email"></label>
                        <input type="text" name="email" placeholder="E-mail address">
                        <i class="fa-light fa-envelope"></i>
                    </div>
                </form>
        </aside>
        <div class="key-point">
            <div class="key-info">
				@Model?.Value("pageContent")
			</div>
		</div>
	</div>

</div>
    <div class="services-details-form">
        <div class="container">
            <h4>Have a question ?</h4>
            <form method="post">
                <div id="form-name" class="input-group">
                    <label for="name"></label>
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div id="form-email" class="input-group">
                    <label for="email"></label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div id="form-message" class="input-group">
                    <label for="message"></label>
                    <textarea class="message" name="message" rows="7" cols="50">Question</textarea>
                </div>
                    
                <button class="btn-primary">Submit</button>
            </form>
        </div>
    </div>
@await Html.PartialAsync("static/contactInformation")