@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;
}

@if (!string.IsNullOrEmpty(ViewBag.Title)) {
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<div class="services-details">
    <div class="container">
        <aside class="support">
            <div class="content">
                <h4>About us</h4>
                <img src="/media/images/image-24-min 1.svg" alt="">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            </div>
                <form method="post">
                    <h4>How can we help you?</h4>
                    <p>online support 24/7, we are here to help you</p>

                    <div id="form-email" class="input-group">
                        <label for="email"></label>
                        <input type="text" name="email" placeholder="E-mail address">
                        <i class="fa-light fa-envelope"></i>
                    </div>
                </form>
        </aside>
        <div class="key-point">
            <div class="key-info">
				@Model.Value("pageContent")
			</div>
		</div>
	</div>
</div>
@await Html.PartialAsync("static/contactInformation")