@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

@{
    var slides = Model.Value<IEnumerable<BlockListItem>>("ourExpertsImageSlider");
}


@if (slides != null && slides.Any())
{
<div class="members">
    <div class="card-top">
        <div class="card">
             @foreach (var item in slides)
                {
               
                    var selectedImage = item?.Content.Value<IPublishedContent>("selectedImage")?.Url();
                    var imgDescription = item?.Content.Value<string>("imageDescription");
                    var customHeadline = item?.Content.Value<string>("imageCustomHeadline");
                    var contentText = item?.Content.Value<string>("imageContentText");

                    <a href="#">
                        <img src="@selectedImage" alt="@imgDescription">
                        <h4>@customHeadline</h4>
                        <p>@contentText</p>
                    </a> 
                }
            
        </div>
        
    </div>
</div>             
}